extends layout

block content
  h1= title
  p Welcome to #{title}
        .section
            .containers
                .container
                    form(method='POST', action='/submit')

                        .field
                            label.label country
                            .control
                                input.input(name='country', type='text',placeholder='country')
                            p.help just type in usa


                        .control
                            button.button.is-primary Submit