<div>
  <ul *ngFor="let weather of weathers">
    <li (click)="setSelectedWeather(weather)">
      {{weather.name}}
    </li>

  </ul>
</div>

<div name="details" *ngIf="selectedWeather">
  City Id: {{selectedWeather.id}}<br/>
  City: <input type="text" [(ngModel)]="selectedWeather.name">
  Weather: <input type="text" [(ngModel)]="selectedWeather.description">
  Temperature: <input type="text" [(ngModel)]="selectedWeather.celsius"> ºC
  <input type="text" [(ngModel)]="selectedWeather.fahrenheit"> ºF
</div>

